<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="global.css">
    <title>Github View</title>
</head>
<body>
    <div class="background">
        <canvas id="panel" width="1360px" height="300px"></canvas>
        <div class="">
            <div class="row down">
                <div class="col section-tree">
                    <div class="section-title row">
                        <p id="project-name"></p>
                        <p id="project-version"></p>
                    </div>
                    <div class="tree" id="tree">
                        <!-- files here -->
                    </div>
                </div>
                <div class="col events">
                    <div class="section-title">
                        <h2>Project events</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="script.js"></script>
</body>
</html>