.background {
    display: flex;
    width: 100%;
    height: 100%;
}

.container-left {
    width: 70%;
}

.container-right {
    width: 30%;
    margin-left: auto;
    border-left: gray 1px solid;
}

canvas {
    border: 1px gray solid;
    cursor: grab;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

.info {
    max-width: 100%;
    max-height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.section-tree {
    width: 100%;
    max-height: 350px;
    margin-bottom: 10px
}

.tree {
    overflow-y: scroll;
    height: 100%;
    padding-bottom: 40px;
    border-top: gainsboro 1px solid;
    border-bottom: gainsboro 1px solid;
    border-left: gainsboro 1px solid;
}

.subtitle {
    font-weight: 600;
}

#project-name {
    margin-bottom: 10px;
    margin-right: 15px;
}

.file {
    display: flex;
    position: relative;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    cursor: pointer;
    border-bottom: gainsboro 1px solid;
}

.file:hover {
    background-color: whitesmoke;
}

.file:hover .label {
    display: flex;
}

#git-status {
    margin-right: 10px;
}

.label {
    display: none;
    margin-top: 20px;
    position: absolute;
    background: white;
    padding: 2px;
    border-radius: 2px;
    z-index: 10;
    box-shadow: 0 0 2px;
}

.label p {
    font-size: 11px;
}

#file-name {
    font-size: 13px;
}

.events {
    width: 100%;
    overflow-y: scroll;
}